input,
button,
a {
  &:focus-visible {
    outline-style: solid;
    outline-offset: 4px;
    outline-width: 3px;
    outline-color: var(--clr-primary-100);
  }
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
}
