@import "@/app/styles/abstract";

.justArrived-section {
  h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: var(--clr-primary-200);
  }
}
.justArrived-section .slick-list {
  height: 830px;
}
.justArrived-section .slick-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.justArrived-section .slick-track {
  display: flex;
  gap: 1rem;
  height: 780px;
}

.justArrived-section .slick-next:before,
.justArrived-section .slick-prev:before {
  color: var(--clr-secondary-300);
  font-size: 40px;
  @include mq("md") {
    font-size: 60px;
  }
}

.justArrived-section .slick-arrow {
  top: 50%;
}
.justArrived-section .slick-next {
  right: 5%;
  z-index: 9999;
}

.justArrived-section .slick-prev {
  left: 3%;
  z-index: 9999;
}

.justArrived-section {
  span {
    background: green;
    color: white;
  }
}
