$colors: (
  primary: (
    100: hsl(199, 87%, 54%),
    200: hsl(209, 51%, 32%),
    300: hsl(210, 55%, 25%),
  ),
  secondary: (
    100: hsl(41, 94%, 59%),
    200: hsl(41, 94%, 50%),
    300: hsl(41, 94%, 45%),
  ),
  grey: (
    100: hsl(0, 0%, 60%),
    200: hsl(0, 0%, 50%),
    300: hsl(0, 0%, 40%),
    400: hsl(0, 0%, 30%),
    500: hsl(0, 0%, 25%),
  ),
);
