$colors: (
  primary: (
    100: hsl(199, 87%, 54%),
    200: hsl(209, 51%, 32%),
    300: hsl(210, 55%, 25%),
  ),
  secondary: (
    100: hsl(41, 94%, 59%),
    200: hsl(41, 94%, 50%),
    300: hsl(41, 94%, 45%),
  ),
  grey: (
    100: hsl(0, 0%, 60%),
    200: hsl(0, 0%, 50%),
    300: hsl(0, 0%, 40%),
    400: hsl(0, 0%, 30%),
    500: hsl(0, 0%, 25%),
  ),
);

$type-scale: (
  small: (
    200: 0.7rem,
    300: 0.9rem,
    400: 1.25rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2rem,
    800: 3.052rem,
  ),
  large: (
    200: 0.8rem,
    300: 1rem,
    400: 1.425rem,
    500: 2rem,
    600: 2.827rem,
    700: 3.2rem,
    800: 5.653rem,
  ),
);

$shadows: (
  sm: 0px 2px 8px rgba(0, 0, 0, 0.2),
  md: 0px 4px 10px rgba(0, 0, 0, 0.3),
  lg: 0px 5px 10px rgba(0, 0, 0, 0.4),
);

$radiuses: (
  sm: 0.25rem,
  md: 0.5rem,
  lg: 1rem,
);

$breakpoints: (
  "xs": 480px,
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1400px,
);
