@use "./maps" as *;

@mixin mq($name) {
  // Check if the breakpoint map has $name
  @if map-has-key($breakpoints, $name) {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$name}.";
  }
}

@mixin animation-utility(
  $name,
  $duration: 1s,
  $timing-function: ease-in-out,
  $iteration-count: infinite
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-iteration-count: $iteration-count;
  will-change: transform, opacity;
}
