$type-scale: (
  small: (
    200: 0.7rem,
    300: 0.9rem,
    400: 1.25rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2rem,
    800: 3.052rem,
  ),
  large: (
    200: 0.8rem,
    300: 1rem,
    400: 1.425rem,
    500: 2rem,
    600: 2.827rem,
    700: 3.2rem,
    800: 5.653rem,
  ),
);
